[package]
name = "json-tools"
version = "0.1.0"
authors = ["Hendrik Sollich <hendrik@hoodie.de>"]
edition = "2018"

[dependencies]
serde = "1.0.87"
serde_json = "1.0.38"

[[bin]]
name = "shrink-json"
[[bin]]
name = "json-to-js"
